*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Default is 16px, so 62.5% of that is 10px
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
